---
layout: default
---

<header class="ptl ptx-ns pbx pbxl-ns mbn bg-cover white phs phm-ns" style="background:#222 ;">
  <h1 class="f3 f1-ns ttu tc">Design by Typing</h1>
  <h2 class="tc f5 f2-ns fw4">Screencasts on using Vim, Git, Unix, HTML and OOCSS as design tools</h2>
  <div class="tc center mtl">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="mrmrs_" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>
<main>
{% if site.posts %}
<div class="center mw7 pbm ptl">
  <div class="phs phn-ns">
  <h3 class="small ttu fw4">The Screencasts</h1>
  <p class="f4 serif lh-copy">If you have a suggestion for a screencast you'd like to see - <a href="http://github.com/mrmrs/screencasts/issues/" class="link black b">please open an issue here.</a>
  </div>
</div>
  <ul class="pln list mtm ptn center mw7">
    {% for post in site.posts %}
      <li class="pln wi-100 db pvm pvl-ns phs phn-ns bt b--near-white">
        <a href="{{ post.url }}" title="{{post.title}}" class="link f4 f2-ns b lh-copy">
          {{ post.title }} ▸
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
<footer class="pvl bt b--near-white">
  <div class="center mw7">
    <div class="phs phn-ns">
      {% include _footer_meta.html %}
    </div>
  </div>
</footer>
{% endif %}
