<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> DESIGN BY TYPING </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://mrmrs.io/tachyons/css/tachyons.min.css">

  <!-- Favicons and Touch Device Icons -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="touch-icon-ipad-precomposed.png">
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina-precomposed.png">
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina-precomposed.png">
</head>
