---
title: "Designing in the Browser"
subtitle: ""
layout: post
vimeoId: "106907334"
---

<div class="center mw8">
  <div class="phs phl-ns center mw7 lh-copy">
    <p class="serif f3">[No Audio] Demo of a way to design a simple responsive website in the browser using tachyons and gulp.</p>

<h3 class="f6 ttu mbn">Commands</h3>
<pre> <code>
git clone git@github.com:mrmrs/tachyons.git new-repo
cd new-repo
sudo npm install .
npm start
</code> </pre>

<h4 class="mbn">Resources</h4>
<p> <b>Online demo: </b> <a href="http://mrmrs.io/tachyons-demo" class="link b">http://mrmrs.io/tachyons-demo</a> </p>
<p><b>CSS:</b> <a href="http://github.com/mrmrs/tachyons/" class="link b">Tachyons</a> </p>

  </div>
</div>
