---
title: "NPM Publish Workflow"
subtitle: ""
layout: post
vimeoId: "106787027"
---

<div class="center mw8">
  <div class="phs phl-ns center mw7 lh-copy">
    <p class="serif f3">Disclaimer: This is a pretty hacky process. It's mostly meant to demonstrate a few ways to combine simple unix utilities</p>
    <p class="serif">In this screencast I pipe output from the ls command to the contents of a new file called 'npm-publish.txt'. I then use xargs to run a command on every line in a file. In this case we will run npm-publish on every line in the file called npm-publish.txt</p>

<h3 class="f6 ttu mbs">Commands</h3>
<pre> <code>
ls &gt;&gt; npm-publish.txt
xargs -n 1 npm publish &lt; npm-publish.txt
</code> </pre>

  </div>
</div>
