<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    <header class="bb pvm phs phn-ns">
      <a href="/" title="home" class="link black"><h1 class="ttu tc f5 mtn">Design by typing
        </h1>
      </a>
      <small class="dn db-ns fw1 small tc"> // Screencasts on using Vim, Git, Unix, HTML and OOCSS as design tools. \\</small>
    </header>

    <main>
      <article>
        <header class="pvl pvx-ns">
          <h1 class="tc f4 f2-ns">{{ page.title }}</h1>
          <h2 class="f5 tc">{{ page.subtitle }}</h2>
          <div class="tc center mw5">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="mrmrs_" data-size="large">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </header>
        <div class="center mw8">
          <iframe class="wi-100" style="height:24em;" src="//player.vimeo.com/video/{{ page.vimeoId }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        {{ content }}
        <footer class="bt b--near-white ptl pbx center mw7">
          <div class="phs phn-ns">
            <h1 class="sans-serif ttu tracked f5">Other Screencasts</h1>
            <ul class="list pln mln">
              {% for post in site.related_posts limit: 5 %}
              <li class="pln pvm">
                <a href="{{ post.url }}" class="db pvs f4 f2-ns sans-serif link " title="{{post.title}}">
                  {{ post.title }}
                  <span>›</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </footer>
      </article>
    </main>

    <footer class="bt b--near-white ptl pbx">
      <div class="center mw7">
        <div class="phs phn-ns">
          {% include _footer_meta.html %}
        </div>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55017651-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
